[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
pinecone = "*"
black = "*"
streamlit = "*"
langsmith = "*"
langchain-community = "*"
web3 = "*"
eth-account = "*"
pypdf2 = "*"
python-docx = "*"
reportlab = "*"
markdown = "*"
weasyprint = "*"
langgraph = "*"
ipython = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
